body{
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
    
}
h1{
    position: relative;
    top: 100px;
    right: 30px;
    font-size: 90px;
    color: #289672;

}
.top-container{
    background-color:#dbf6e9;
    padding-top: 40px;
}
.middle-container{
    background-color: #f4f9f9;
}
.cloud{
    width: 200px;
    position: absolute;
    left: 300px;
}
.web{
    text-decoration: underline;
   
}
.para{
    position: relative;
    top: 40px;
    right: 30px;
    font-size: 30px;
    font-family: 'Baloo 2', cursive;;
    color: #29bb89;
    font-weight: normal;
}
.top-cloud{
    position: absolute;
    left: 950px;
    width: 200px;
    padding-top: 50px;
}
.mountain{
    height: 400px;
    width: 750px;
}
.san{
    width: 250px;
}
.profile{
    font-family: 'Inter', sans-serif;
    
}
.coding{
    width: 200px;
    float: left;
    padding-left: 400px;

}
.skills{
    font-family: 'Inter', sans-serif;
}
.skill-row{
    padding-top: 50px;
}

.app{
    width: 200px;
    position: relative;
    right: 20px;
    top: 60px;
}
.contact-me{
    font-family: 'Inter', sans-serif;
    color:#289672 ;
}
h2{
   color: #289672;
   font-family: 'Antonio', sans-serif;
}
h3{
    color: #289672;
    font-family: 'Antonio', sans-serif;
    position: relative;
    right: 322px;
}
p{
    color:black ;
}
.bottom-container{
    font-family: 'Inter', sans-serif;
    background-color:#dbf6e9;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}
.footer-link1{
    color: #289672;
    padding-right: 20px;
}
.footer-link3{
    color:#289672;
    padding-left: 20px;
}
.footer-link2{
    color: #289672;
}
.mail{
    color: #289672; 
}
.end{
    color: #289672;
}
.dev{
    padding-right: 500px;
    padding-left: 600px;
    position: relative;
    left: 60px;
}
.appdev{
    padding-right: 700px;
    padding-left: 400px;
    position: relative;
    bottom: 140px;
    left: 50px;
}
.head-moving{
    position: relative;
    bottom: 130px;
    left: 10px;
    padding-bottom: 10px;
    padding-right: 400px;
    padding-top: 20px;
}
.hell{
    padding-right: 500px;
    padding-left: 500px;
}
.help{
    position: relative;
    bottom: 50px;
}
